.f-card {
    overflow: visible;
    width: 350px;
    height: 400px;
  }
  
  .f-content {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 300ms;
    box-shadow: 0px 0px 10px 1px #000000ee;
    border-radius: 5px;
  }
  
  .f-front, .f-back {
    background-color: #151515;
    background-color: #121010;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    border-radius: 5px;
    overflow: hidden;
  }
  
  .f-back {
    width: 100%;
    height: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    overflow: hidden;
  }
  
  .f-back::before {
    position: absolute;
    content: ' ';
    display: block;
    width: 160px;
    height: 160%;
    background: linear-gradient(90deg, transparent, #ff9966, #ff9966, #ff9966, #ff9966, transparent);
    background: #ff7700;
    animation: rotation_481 5000ms infinite linear;
  }
  
  .f-back-content {
    position: absolute;
    width: 99%;
    height: 99%;
    background-color: #151515;
    border-radius: 5px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    font-size: 1.5rem;
  }
  
  .f-back-content img{
      height: 70px;
      width: 70px;
  }
  
  .f-card:hover .f-content {
    transform: rotateY(180deg);
  }
  
  @keyframes rotation_481 {
    0% {
      transform: rotateZ(0deg);
    }
  
    0% {
      transform: rotateZ(360deg);
    }
  }
  
  .f-front {
    transform: rotateY(180deg);
    color: white;
  }
  
  .f-front .f-front-content {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .f-front-content .f-badge {
    background-color: #00000055;
    padding: 2px 10px;
    border-radius: 10px;
    backdrop-filter: blur(2px);
    width: fit-content;
  }
  
  .f-description {
    box-shadow: 0px 0px 10px 5px #00000088;
    width: 100%;
    padding: 10px;
    background-color: #00000099;
    backdrop-filter: blur(5px);
    border-radius: 5px;
    margin-top: 7rem;
  }
  
  .f-title {
    font-size: 18px;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    font-family: 'Alata',sans-serif;
  }
  
  .f-title p {
    width: 100%;
    padding: 1rem;
  }
  
  .f-card-footer {
    color: #ffffff88;
    margin-top: 5px;
    font-size: 8px;
  }
  
  .f-front .f-img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  
  .f-circle {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: #cd7d1b;
    position: relative;
    filter: blur(20px);
    animation: floating 2600ms infinite linear;
  }
  
  #bottom {
    background-color: #cf810c;
    left: 50px;
    top: 0px;
    width: 150px;
    height: 150px;
    animation-delay: -800ms;
  }
  
  #right {
    background-color: #895716;
    left: 160px;
    top: -80px;
    width: 30px;
    height: 30px;
    animation-delay: -1800ms;
  }
  
  @keyframes floating {
    0% {
      transform: translateY(0px);
    }
  
    50% {
      transform: translateY(10px);
    }
  
    100% {
      transform: translateY(0px);
    }
  }
  
  .featuresContainer{
      display: flex;
      gap: 6rem;
      align-items: center;
      justify-content: center;
  }

  @media (max-width:426px) {
    .featuresContainer{
        flex-direction: column;
        gap: 4rem;
    }
  }

  @media (max-width:321px) {
    .f-card {
      overflow: visible;
      width: 315px;
      height: 400px;
    }
  }